.body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #363636;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 40px;
  padding-top: 40px;
}

.section__title {
  margin-bottom: 20px;
}

.tabs__title {
  margin: 20px auto;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #bdbdbd;
}

.tabs>form {
  display: none;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 4px;
}

#choice1:checked~#content1,
#choice2:checked~#content2 {
  display: flex;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #eee;
  border: 1px solid transparent;
  padding: 2px 8px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-right: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tabs>label:first-of-type {
  margin-left: 0;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  padding: 5px 15px;
  background: #1bbc9b;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.form__content {
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.form__content-input {
  padding: 5px 15px;
  width: 100%;
  max-width: 250px;
}

.form__content-textarea {
  width: 100%;
  max-width: 250px;
  resize: none;
  padding: 10px 15px;
}

.books__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items__btn {
  display: flex;
  align-items: center;
}

.book__btn {
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  background: transparent;
  padding: 2px 5px;
}

.book__btn:hover {
  background: #ccc;
}

.read__area-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
}

.read__area-text {
  letter-spacing: 1px;
}

.read__area-form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.read__area-input {
  width: 70%;
}

.read__area-textarea {
  resize: none;
  max-height: 600px;
}

.read__area-btn {
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  background: transparent;
  padding: 2px 5px;
}

.read__area-btn:hover {
  background: #ccc;
}

.done {
  background: #1bbc9b;
}

.empty {
  color: red;
  text-align: center;
}

.move {
  position: absolute;
  z-index: 1000;
}
